html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input, textarea {
  margin: 0.1rem 0.5rem;
  min-width: 20rem;
}

label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

* {
  box-sizing: border-box;
}
